ENVIROMENT=local
DATABASE_URL=
DATABASE_URL_DEV=
DB_CONNECT_TIMEOUT_MS=5000
PORT=
FRONTEND_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

CLOUDINARY_URL=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
